Django
djangorestframework
django-cors-headers
djangorestframework-simplejwt
requests
google-auth
python-dotenv
drf-spectacular
channels

Pillow
WeasyPrint
qrcode[pil]
google-api-python-client
google-auth-oauthlib

daphne
psycopg[binary]
